@using DemoMVCApp.Models
@model DemoMVCApp.Models.t_UserReg
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("Login", "Fun2", FormMethod.Post))
    { 
    <div class="container">
        <div class="row">
           <div class="col-xs-6">
               <h3>Login</h3>
           </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label class="">UserName</label>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m=>m.sUserId,new { @class="form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label class="">Enter Password</label>
            </div>
            <div class="col-xs-3">
                @Html.PasswordFor(m => m.sPassword, new { @class="form-control"})
            </div>
        </div>
        <dliv class="row">
            <div class="col-lg-offset-2 col-xs-3">
               <input type="submit" value="Login" class="btn btn-default" />
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </dliv>
        <div class="row">
            <div class="col-lg-offset-2">
                @Html.ActionLink("New User Registration", "UserRegistration", "Fun2")
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2">
                @Html.ActionLink("Forget Password", "ForgetPassword", "Fun2")
            </div>
        </div>
    </div>
    }
</body>
</html>
